
:root {
    --theme: #2970ff;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  input {
    font-family: "Montserrat", sans-serif;
  }

  .navbar {
    position: sticky;
    padding: 0.75rem 1.5rem;
    background-color: var(--theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }
  
  .navbar-heading {
    color: #fff;
    font-weight: 500;
    margin: 0px;
    font-size: 1.2rem;
  }
  .navbar-link {
    color: #e3e3e3;
    font-weight: 500;
    margin: 0px;
    font-size: 1rem;
  }
  
  .navbar-link:hover {
    color: #fff;
    transition: all 0.3s;
  }

  .d-flex {
    display: flex;
  }

  .my-2 {
    margin-top: .6rem;
    margin-bottom: .6rem;
  }